# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/hcm_show_development?schema=public"
NEXTAUTH_SECRET="boop"
ONBOARDING_CLIENT_ID=abc123
ONBOARDING_CLIENT_SECRET=def456
ONBOARDING_ENVIRONMENT_ID=us_env_abcdef123
ONBOARDING_SPACE_CONFIG_ID=us_sc_...
BASEPATH_URL=https://my.prodapp.com
WORKBOOK_UPLOAD_WORKBOOK_NAME=MyWorkbook123

# Currently separate because the listener borks accounts and needs to be separate
FILEFEED_CLIENT_ID=...
FILEFEED_CLIENT_SECRET=...
FILEFEED_ENVIRONMENT_ID=us_env_...
FILEFEED_SPACE_CONFIG_ID=us_sc_...

EMBEDDED_CLIENT_ID=...
EMBEDDED_CLIENT_SECRET=...
EMBEDDED_ENVIRONMENT_ID=us_env_...
EMBEDDED_SPACE_CONFIG_ID=us_sc...

GOOGLE_DRIVE_FILE_ID=1xK9lZrRaR_dwPUsdFMqWx3-37QkT4L8V
GOOGLE_DRIVE_API_KEY=...

# In production
# Must have NEXTAUTH_SECRET in production as well
# NEXTAUTH_URL=https://my.prodapp.com