# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hcm_show_development?schema=public"
NEXTAUTH_SECRET="boop"
BASEPATH_URL="http://localhost:3000"

CLIENT_ID=...
CLIENT_SECRET=...

ONBOARDING_ENVIRONMENT_ID=us_env_...
ONBOARDING_SPACE_CONFIG_ID=us_sc_...
ONBOARDING_WORKBOOK_NAME="HCM Workbook"

FILEFEED_ENVIRONMENT_ID=us_env_...
FILEFEED_SPACE_CONFIG_ID=us_sc_...

EMBEDDED_ENVIRONMENT_ID=us_env_...
EMBEDDED_SPACE_CONFIG_ID=us_sc_...
EMBEDDED_WORKBOOK_NAME="Benefits Workbook"

DYNAMIC_TEMPLATES_ENVIRONMENT_ID=us_env_...
DYNAMIC_TEMPLATES_SPACE_CONFIG_ID=us_sc_...
DYNAMIC_TEMPLATES_WORKBOOK_NAME="Dynamic Templates Workbook"

GOOGLE_DRIVE_FILE_ID=1xK9lZrRaR_dwPUsdFMqWx3-37QkT4L8V
GOOGLE_DRIVE_API_KEY=...

# In production
# Must have NEXTAUTH_SECRET in production as well
# NEXTAUTH_URL=https://my.prodapp.com
