# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/hcm_show_development?schema=public"
NEXTAUTH_SECRET="boop"
FLATFILE_CLIENT_ID=abc123
FLATFILE_CLIENT_SECRET=def456
FLATFILE_ENVIRONMENT_ID=us_env_abcdef123
ONBOARDING_SPACE_CONFIG_ID=us_sc_...
BASEPATH_URL=https://my.prodapp.com
WORKBOOK_UPLOAD_WORKBOOK_NAME=MyWorkbook123

# In production
# Must have NEXTAUTH_SECRET in production as well
# NEXTAUTH_URL=https://my.prodapp.com