@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  @apply px-2 py-2 rounded bg-transparent focus-visible:ring-transparent focus-visible:ring-0 focus-visible:outline-none;
}

.flex-r {
  @apply flex flex-row justify-between items-center;
}

.primary-btn {
  @apply flex rounded-md border border-transparent py-2 px-4 text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 bg-primary;
}

.card-bg {
  box-shadow: 0px 48px 48px 0px #00000033;
  background: #2e323c99;
  @apply p-6 md:p-10 rounded-xl;
}

.card-sm {
  @apply px-3 py-4;
}

.button-bg {
  background: linear-gradient(93.58deg, #363e52 -2%, #2b3242 117.56%);
  box-shadow: 8.74046516418457px 9.711627960205078px 18.45209312438965px 0px
    #3d49644d inset;
  @apply inline-flex flex-row justify-center items-center px-8 py-4 font-semibold rounded-xl cursor-pointer hover:brightness-90;
}

.button-sm {
  @apply px-5 py-2;
}

.button-dynamic-portal {
  background: none;
  @apply bg-dynamic-portal;
}

.nav-separator {
  @apply text-[10px] uppercase font-light mb-2 pl-2 text-[#FFFFFF50];
}

.nav-item {
  @apply hover:bg-[#2E323C] text-[#FFFFFF60] hover:text-[#FFFFFFCC] flex items-center px-3 py-2 text-sm font-light rounded-md;
}
.nav-item.active {
  @apply bg-[#2E323C] text-[#FFFFFFCC];
}

.nav-item svg {
  @apply fill-[#FFFFFF80];
}
.nav-item.active svg {
  @apply fill-[#FFFFFF];
}

.blob {
  width: 10px;
  height: 10px;
  @apply rounded-[50%] mr-4;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
}

.pulse-blob {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* TODO: Hack to make embedded space expand to full screen. */
div[data-testid="space-contents"] {
  width: 100% !important;
  height: 100% !important;
  left: 50% !important;
  transform: translateX(-50%);
}

[data-testid="close-confirm-modal"] > * {
  color: #000;
}

.swagger-ui * {
  color: white !important;
}

.swagger-ui select {
  background-color: #1f1f1f !important;
}

.swagger-ui .opblock .opblock-section-header {
  background-color: #1f1f1f !important;
}

.swagger-ui button {
  background: linear-gradient(
    93.58deg,
    #363e52 -2%,
    #2b3242 117.56%
  ) !important;
}

.icon-project-onboarding path {
  @apply fill-project-onboarding;
  fill-opacity: 1;
}

.icon-file-feed path {
  @apply fill-file-feed;
  fill-opacity: 1;
}

.icon-embedded-portal path {
  @apply fill-embedded-portal;
  fill-opacity: 1;
}

.icon-dynamic-portal path {
  @apply fill-dynamic-portal;
  fill-opacity: 1;
}
