@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-r {
  @apply flex flex-row justify-between items-center;
}

.primary-btn {
  @apply flex rounded-md border border-transparent py-2 px-4 text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 bg-primary;
}

.card-bg {
  box-shadow: 0px 48px 48px 0px #00000033;
  background: #2e323c99;
  @apply p-6 md:p-10 rounded-xl;
}

.button-bg {
  background: linear-gradient(93.58deg, #363e52 -2%, #2b3242 117.56%);
  box-shadow: 8.74046516418457px 9.711627960205078px 18.45209312438965px 0px
    #3d49644d inset;
  @apply inline-flex flex-row justify-center items-center px-8 py-4 font-semibold rounded-xl cursor-pointer hover:brightness-90;
}

.nav-item {
  @apply hover:bg-[#2E323C] text-[#FFFFFF50] hover:text-[#FFFFFFCC];
}
.nav-item.active {
  @apply bg-[#2E323C] text-[#FFFFFFCC];
}

.nav-item svg {
  @apply fill-[#FFFFFF80];
}
.nav-item.active svg {
  @apply fill-[#FFFFFF];
}

.blob {
  width: 10px;
  height: 10px;
  @apply rounded-[50%] mr-4;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
}

.pulse-blob {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* TODO: Hack to make embedded space expand to full screen. */
div[data-testid="space-contents"] {
  width: 100% !important;
  height: 100% !important;
  left: 50% !important;
  transform: translateX(-50%);
}

.flatfile-close-button {
  display: block;
  background-color: red;
}

/* Both buttons */
[data-testid="close-confirm-modal"] > div > div > div:nth-child(3) > div > div {
  height: 40px;
  padding: 8px 16px;
  border-radius: 3px;
}

/* The "yes exit" button */
[data-testid="close-confirm-modal"]
  > div
  > div
  > div:nth-child(3)
  > div:nth-child(2)
  > div {
  background-color: #090b2b;
}
